# The user that gets all the mails (UID < 1000, usually the admin)
root=website@{{ index (split (default .Env.ALLOWED_HOSTS .Env.HOSTNAME) " ") 0 }}

# The mail server (where the mail is sent to), both port 465 or 587 should be acceptable
# See also https://support.google.com/mail/answer/78799
mailhub={{ default .Env.SMTP_HOST_PORT "mail" }}

# The full hostname
hostname={{ index (split (default .Env.ALLOWED_HOSTS .Env.HOSTNAME) " ") 0 }}

# Use SSL/TLS before starting negotiation
UseTLS={{ default .Env.SMTP_USE_TLS "Yes" }}
UseSTARTTLS={{ default .Env.SMTP_USE_START_TLS "Yes" }}

# Username/Password
{{ if not .Env.SMTP_USER }}#{{ end }}AuthUser={{ default .Env.SMTP_USER "" }}
{{ if not .Env.SMTP_PASSWORD }}#{{ end }}AuthPass={{ default .Env.SMTP_PASSWORD "" }}

# Email 'From header's can override the default domain?
FromLineOverride=yes
